DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=change_me
DB_NAME=data_big

COZE_API_TOKEN=your_coze_api_token
COZE_WORKFLOW_ID=your_workflow_id
COZE_API_BASE_URL=https://api.coze.cn

DEMO_HOST=0.0.0.0
DEMO_PORT=8080
